
@{
    ViewBag.Title = "Index";
    SelectList invoiceTypeList = ViewBag.InvoiceTypes as SelectList;
}

<br />
<h2 class="ml-2">Invoices</h2>

<div class="col-lg-9 pl-lg-0 mt-lg-5">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Invoice Type:", htmlAttributes: new { @class = "control-label col-md-10 font-weight-bold" })
                <div class="col-md-12">
                    @Html.DropDownList("ddlInvoiceType", invoiceTypeList, "Select invoice type", new { @class = "form-control col-lg-12" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Company:", htmlAttributes: new { @class = "control-label col-md-10 font-weight-bold" })
                <div class="col-md-12">
                    @Html.DropDownList("ddlCompany", invoiceTypeList, "Select company", new { @class = "form-control col-lg-12" })
                </div>
            </div>
        </div>
    </div>
</div>

<div id="container">

</div>

<div>
    <a id="addRoute" href="Invoice/Create" class="btn btn-success mx-3 mr-lg-5 disabled">Create New Invoice</a>
</div>

@section scripts {
    <script>
        $('select').on('change', function () {
            var invoiceTypeVal = $(this).val();
            console.log(invoiceTypeVal);
            if (invoiceTypeVal != 0) {
                $.ajax({
                    url: '/Invoice/Partial?invoiceTypeVal=' + invoiceTypeVal,
                    type: 'POST',
                    success: function (data) {
                        $("#container").html(data)
                    }
                })
            }
            else {
                $("#container").empty();
            }
        });
    </script>
}

