################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FineEx/FineEx/.vs
/FineEx/FineEx/bin
/FineEx/FineEx/obj
/FineEx/FineEx/App_Start/RouteConfig.vb
/FineEx/FineEx/obj/Debug
/FineEx/FineEx/packages
/FineEx/FineEx.BusinessLayer/obj/Debug
/FineEx/FineEx.DataLayer/obj/Debug
/FineEx/FineEx/packages/EntityFramework.6.2.0/Content/net40
/FineEx/FineEx/packages/EntityFramework.6.2.0
/FineEx/FineEx.DataLayer/bin/Debug
/FineEx/FineEx.BusinessLayer/bin/Debug
/FineEx/FineEx.DataLayer/obj/Release
/FineEx/FineEx.BusinessLayer/obj/Release
/.vs/izrada-cjelovitog-aplikativnog-19-20/v16
/FineEx/FineEx.Testing/obj/Debug
/FineEx/FineEx.Testing/bin/Debug
/FineEx/FineEx.Testing
