################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FineEx/FineEx/.vs/FineEx
/FineEx/FineEx/bin
/FineEx/FineEx/App_Start/RouteConfig.vb
/FineEx/FineEx/obj/Debug
/FineEx/FineEx/packages/Newtonsoft.Json.12.0.2
/FineEx/FineEx/packages/Microsoft.Web.Infrastructure.1.0.0.0
/FineEx/FineEx/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1
/FineEx/FineEx/packages/Microsoft.AspNet.WebPages.3.2.7
/FineEx/FineEx/packages/Microsoft.AspNet.WebApi.WebHost.5.2.7
/FineEx/FineEx/packages/Microsoft.AspNet.WebApi.Core.5.2.7
/FineEx/FineEx/packages/Microsoft.AspNet.WebApi.Client.5.2.7
/FineEx/FineEx/packages/Microsoft.AspNet.WebApi.5.2.7
/FineEx/FineEx/packages/Microsoft.AspNet.Razor.3.2.7
/FineEx/FineEx/packages/Microsoft.AspNet.Mvc.5.2.7
/FineEx/FineEx.BusinessLayer/obj/Debug
/FineEx/FineEx.DataLayer/obj/Debug
/FineEx/FineEx/packages/EntityFramework.6.2.0/Content/net40
/FineEx/FineEx/packages/EntityFramework.6.2.0
/FineEx/FineEx.DataLayer/bin/Debug
/FineEx/FineEx.BusinessLayer/bin/Debug
/FineEx/FineEx.DataLayer/obj/Release
/FineEx/FineEx.BusinessLayer/obj/Release
/.vs
