@model dynamic

@{
    ViewBag.Title = "Administration";
    Layout = "../Shared/_Layout.cshtml";
}

<h2>Administration</h2>


<a href="@Url.Action("StartBilling", "Administration")" class="btn btn-info">Bill subjects for current month</a>
<a href="@Url.Action("ExportData", "Administration")" class="btn btn-info">Export stats for Vat</a>

